/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

.sidePanelAccordionTitleBar{
	skinClass: ClassReference("ui.sidePanel.supportClasses.SidePanelAccordionTitleBarSkin");
}

.uiPartCatagoryGroup{
	fontSize: 24;
	color: #696969;
	fontFamily: 'Walkway';
}